body {
	background-color: #ffffcc;
	font-family: sans-serif;
	line-height: 130%;
}

#everything {
	margin: 0 3em;
}

#topbar {
	margin: 0;
	padding: 0;
}

#topbar h1 
{
	font-size: 300%;
	font-weight: normal;
	background-color: inherit;
}

#navbar {
	margin: 0;
	padding: 0;
	clear: both;
	line-height: normal;
}

ul.navbar {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin: 0;
	padding: 3px 0;
}

ul.navbar li {
	display: inline;
	margin: 0;
	padding: 0;
}

ul.navbar li a {
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding: 0.2em 1em;
}

ul.navbar li a:active, ul.navbar li a:hover {
	background-color: #ddddaa;
}

a 
{
	color: #000080;
}

#content {
	margin: 2em;
}

h1 
{
	font-size: 140%;
	font-weight: bold;
	background-color: #f8f8c0;
	margin-left: -1.5em;
	padding: 0.1em;
	padding-left: 1.5em;
}

h2
{
	font-size: 120%;
	font-weight: bold;
	background-color: #f8f8c0;
	margin-left: -0.3em;
	padding: 0.1em;
	padding-left: 0.3em;
}

h2 a
{
    color: #000000;
    text-decoration: none;
}

h3 
{
	font-size: 120%;
	font-weight: normal;
}

img {
	border: 0;
}

.inline {
	vertical-align: middle;
}

.leftmargin {
	display: block;
	float: left;
	clear: left;
	margin: 0 1em 1em 0;
}

.rightmargin {
	display: block;
	float: right;
	clear: right;
	margin: 0 0 1em 1em;
}

a.download 
{
	padding: 0.5em;
	background-color: #ddddaa;
	color: #000066;
	text-decoration: none;
	font-weight: bold;
	font-size: 140%;
	width: auto;
}

a.download:active, a.download:hover 
{
	color: #000066;
	background-color: #eeeebb;
}

a.download img 
{
	vertical-align: middle;
	margin-right: 0.5em;
}

.feed
{
    background: url(/img/icons/feed-icon-14x14.png) no-repeat left center;
    padding-left: 18px;
}

.github
{
    background: url(/img/icons/github.png) no-repeat left center;
    padding-left: 20px;
}

#footer
{
    font-size: 80%;
    color: #808080;
}

#footer a 
{
    color: #8080A0;
}

#footer a:hover, #footer a:active
{
    color: #000000;
}

#footer ul li 
{
    float: left;
    list-style-type: none;
    margin-left: 1.5em;
}
