<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="alternate" type="application/atom+xml" title="Taekwindow News" href="/atom.xml"/>
		<link rel="stylesheet" type="text/css" href="/css/screen.css"/>
		<script type="text/javascript" src="/js/utils.js"></script>
		<title>
			Taekwindow - {{ page.title }}
		</title>
	</head>
	<body onload="replaceEmail()">
		<div id="everything">
			<div id="topbar">
				<h1>
					<img src="/img/logos/taekwindow.png" width="92" height="92" alt="Taekwindow logo" class="inline"/>
					Taekwindow
				</h1>
			</div>
			<div id="navbar">
				<ul class="navbar">
					<li>
						<a href="/index.html">Home</a>
					</li>
					<li>
					    <a href="/news.html">News</a>
					</li>
					<li>
						<a href="/faq.html">FAQ</a>
					</li>
					<li>
						<a href="/download.html">Download</a>
					</li>
					<li>
						<a href="/manual.html">Manual</a>
					</li>
					<li>
						<a href="/contact.html">Contact</a>
					</li>
				</ul>
			</div>
			<div id="content">
                {{ main_content }}
			</div>
			<div id="footer">
				<ul class="rightmargin">
					<li><a href="/atom.xml" class="feed">Taekwindow news feed (Atom)</a></li>
					<li><a href="https://github.com/ttencate/taekwindow" class="github">GitHub project page</a></li>
					<li class="github">Hosted on <a href="http://pages.github.com/">GitHub Pages</a></li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
			var pageTracker = _gat._getTracker("UA-1179382-1");
			pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</body>

</html>

