body {
	background-color: #ffffcc;
	font-family: sans-serif;
}

#everything {
	margin: 0 3em;
}

#topbar {
	margin: 0;
	padding: 0;
}

#topbar h1 
{
	font-size: 300%;
	font-weight: normal;
}

#navbar {
	margin: 0;
	padding: 0;
	clear: both;
}

ul.navbar {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin: 0;
	padding: 3px 0;
}

ul.navbar li {
	display: inline;
	margin: 0;
	padding: 0;
}

ul.navbar li a {
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding: 0.2em 1em;
}

ul.navbar li a:active, ul.navbar li a:hover {
	background-color: #ddddaa;
}

a 
{
	color: #000080;
}

#content {
	margin: 2em;
}

h1 
{
	font-size: 140%;
	font-weight: bold;
}

h2
{
	font-size: 120%;
	font-weight: bold;
}

h3 
{
	font-size: 120%;
	font-weight: normal;
}

img {
	border: 0;
}

.inline {
	vertical-align: middle;
}

.leftmargin {
	display: block;
	float: left;
	clear: left;
	margin: 0 1em 1em 0;
}

.rightmargin {
	display: block;
	float: right;
	clear: right;
	margin: 0 0 1em 1em;
}

a.sf {
	background-image: url("sficon.gif");
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 13px;
}

a.download 
{
	padding: 0.5em;
	background-color: #ddddaa;
	color: #000066;
	text-decoration: none;
	font-weight: bold;
	font-size: 140%;
	width: auto;
}

a.download:active, a.download:hover 
{
	color: #000066;
	background-color: #eeeebb;
}

a.download img 
{
	vertical-align: middle;
	margin-right: 0.5em;
}

a.donate 
{
	padding: 0.2em;
	padding-right: 0.4em;
	background-color: #ddddaa;
	color: #000066;
	text-decoration: none;
	font-size: 100%;
	font-weight: normal;
	width: auto;
}

a.donate:active, a.donate:hover 
{
	color: #000066;
	background-color: #eeeebb;
}

a.donate img 
{
	vertical-align: middle;
	margin-left: 0.4em;
	margin-right: 0.2em;
}

.awards
{
	background-color: #ffffee;
}

.awards a
{
	display: block;
	margin: 1em;
	opacity: 0.2;
}

.awards a:active, .awards a:hover
{
	opacity: 1.0;
}

#footer {
	font-size: 60%;
}
