<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="alternate" type="application/rss+xml" title="Taekwindow News RSS" href="http://sourceforge.net/export/rss2_projnews.php?group_id=185457&amp;rss_fulltext=1"/>
		<link rel="stylesheet" type="text/css" href="/css/screen.css"/>
		<script type="text/javascript" src="/js/utils.js"></script>
		<title>
			Taekwindow - {{ page.title }}
		</title>
	</head>
	<body onload="replaceEmail()">
		<div id="everything">
			<div id="topbar">
				<h1>
					<img src="/img/logos/taekwindow.png" width="92" height="92" alt="Taekwindow logo" class="inline"/>
					Taekwindow
				</h1>
			</div>
			<div id="navbar">
				<ul class="navbar">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="faq.html">FAQ</a>
					</li>
					<li>
						<a href="download.html">Download</a>
					</li>
					<li>
						<a href="manual.html">Manual</a>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
					<li>
						<a href="https://github.com/ttencate/taekwindow">GitHub project page</a>
					</li>
				</ul>
			</div>
			<div id="content">
                {{ content }}
			</div>
			<div id="footer">
				<p class="rightmargin">
				    <!--
					<a href="http://sourceforge.net/export/rss2_projnews.php?group_id=185457&amp;rss_fulltext=1" title="Taekwindow News RSS" style="margin-right:10px">
						<img src="/img/icons/feed-icon-28x28.png" alt="Taekwindow News RSS" height="28" width="28"/>
					</a>
					-->
					<a href="http://pages.github.com/" title="Hosted on GitHub Pages">
						<img src="/img/logos/github_pages.png" width="207" height="60" alt="GitHub Pages"/>
					</a>
				</p>
			</div>
		</div>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
			var pageTracker = _gat._getTracker("UA-1179382-1");
			pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</body>

</html>

